.form-container {
  box-shadow: 0px 1px 8px 0px rgba(20, 46, 110, 0.1);
  width: 100%;
  margin-top: 1em;
  background: #525252;
  border-radius: 8px;
}

.form {
  background: #525252;
  border-radius: 8px;
  width: 100%;
  padding: 2em;
}
