.App {
  text-align: center;
  font-family: Rubik;
  background-color: #464646;
  min-height: 100vh;
}

.inner-container {
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 174.8px;
  height: 37.276px;
  margin-bottom: 1em;
}

.back-button {
  width: 160px;
  height: 34.963px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
